body{
    background-color: rgb(152, 149, 149);
}
img{
    width: 100%;
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    text-align: center;
}
